    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <a href="/"><div class="humberger__menu__logo set-bg-logo"></div></a>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <a href="/user/login"><i class="fa fa-user"></i> Login</a>
            </div>
            <div class="header__top__right__auth">
                <a href="/user/register"><i class="fas fa-user-plus"></i> Register</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/product/allProduct">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/product">Products</a></li>
                        <li><a href="/category">Categories</a></li>
                        <li><a href="/user">Users</a></li>
                    </ul>
                </li>
                <li><a href="/user/order">Orders</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> minhchuong.org@gmail.com</li>
                <li>Free Shipping for all Order of 99.000₫</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> minhchuong.org@gmail.com</li>
                                <li>Free Shipping for all Order of 99.000₫</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                <a href="/user/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/user/register"><i class="fas fa-user-plus"></i> Register</a>
                            </div>
                            <div class="header__top__right__social">
                                <a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/"><div class="header__logo set-bg-logo"></div></a>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/product/allProduct">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/product">Products</a></li>
                                    <li><a href="/category">Categories</a></li>
                                    <li><a href="/user">Users</a></li>
                                </ul>
                            </li>
                            <li><a href="/user/order">Orders</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="/cart"><i class="fa fa-shopping-bag"></i> 
                                    <span id="numberCart">
                                        <span id="numberCart2">
                                        <%
                                        if(session.cart){%>
                                            <%= session.cart.items.length %>
                                            <%}
                                            else{%>
                                            0
                                        <%}
                                        %>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    


    
    
    
