<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Evo Furniture
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user">List users</a></li>
              <li><a class="dropdown-item" href="/user/login">Login</a></li>
              <li><a class="dropdown-item" href="/user/register">Register</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Categories</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              Carts
              <span id="numberCart">
                <span id="numberCart2">
                  (<%
                  if(session.cart){%>
                      <%= session.cart.items.length %>
                    <%}
                    else{%>
                      0
                  <%}
                   %>)
                </span>
              </span>
            </a>       
          </li>
          
        </ul>
      </div>
    </div>
  </nav> -->

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> minhchuong.org@gmail.com</li>
                                <li>Free Shipping for all Order of 99.000₫</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                <a href="/user/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/user/register"><i class="fas fa-user-plus"></i> Register</a>
                            </div>
                            <div class="header__top__right__social">
                                <a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/product/allProduct">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/product">Products</a></li>
                                    <li><a href="/category">Categories</a></li>
                                    <li><a href="/user">Users</a></li>
                                </ul>
                            </li>
                            <li><a href="/user/order">Orders</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="/cart"><i class="fa fa-shopping-bag"></i> 
                                    <span id="numberCart">
                                        <span id="numberCart2">
                                        <%
                                        if(session.cart){%>
                                            <%= session.cart.items.length %>
                                            <%}
                                            else{%>
                                            0
                                        <%}
                                        %>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    
    
    
