<div class="container mt-5 mb-5 w-50">
    <h3 class="title-head text-center mb-4 mt-4">Add New Category</h3>
    <form action="/category" method="POST">
        <%- include('./form') %>
    </form>
</div>