<div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder="Category name" name="name" value="<%= category.name %>">
    <label>Category name</label>
</div>
<div class="form-floating mb-3">
    <input type="submit" class="form-control btn btn-primary" value="Save"></input>
</div