<div class="container mt-5 w-50">
    <h1>Login</h1>
    <%- include('../part/message') %>
    <form action="/user/login" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Email" name="email">
            <label>Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Save"></input>
        </div>
    </form>
    <div class="container w-50">
        <hr>
    </div>
    <div class="container text-center">
        <a href="/user/github" class="btn btn-dark">Login with Github</a>
        <a href="/user/google" class="btn btn-danger">Login with Google</a>
        <a href="/user/facebook" class="btn btn-primary">Login with Facebook</a>
    </div>
</div>
