<div class="container mt-5 w-50">
    <h1>Register</h1>
    <form action="/user/" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="User name" name="username" value="<%= user.username %>">
            <label>User name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Email" name="email" value="<%= user.email %>">
            <label>Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" value="<%= user.password %>">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Save"></input>
        </div>
    </form>
</div>
